@import url('https://fonts.googleapis.com/css2?family=Itim&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff;
  color: #313131;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

/* Header style START */

header .logo{
  font-size: 20px;
  font-weight: 600;
}

header .presentation {
  margin: 50px 0;
  background: url(./Img/header_background_pict.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #7f7e7ec6;
  width: 100%;
  height: 500px;
  position: relative;
}

header .presentation::after{
  content: 'Найкращі пропозиції';
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 21px;
  left: 46px;
  top: 82px;
  width: 300px;
}

header .presentation::before{
  content: 'На ринку нерухомості більше 20 років';
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  left: 250px;
  top: 150px;
  width: 300px;
}

header ul.nav{
  float: right;
  list-style: none;
}

header ul.nav li{
  display: inline;
  margin-left: 25px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover{
  color: rgb(23, 74, 183);
  opacity: 0.5;
}

/* END */

footer{
  text-align: center;
  margin-top: 10px;
  width: 100%;
}